:root {
	--accent-color: #78CB8D;
    --accent-hc-color: #78CB8D;
    --text-color: #4C5652;
}
html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-size: min(max(1.1rem, 4vw), 22px);
}

body{
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
	background-image: url('img/contours.svg');
	background-attachment: fixed;
	background-size: cover;
	font-family: "Bricolage Grotesque", sans-serif;
	line-height: 1.45;
	text-size-adjust: none;
}
.wrapper{
	margin: 1em auto;
	padding: 0 1em;
	max-width: 1140px;
}

main{
	padding-bottom: 10em;
}
a{
	color: var(--accent-hc-color);
	text-decoration: none;
	transition: 0.3s ease;
}
a:visited{
	color: var(--accent-hc-color);
}
a:hover{
	color: var(--accent-hc-color);
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: var(--accent-hc-color);
	text-underline-offset: 0.2em;
}
p, li{
	margin-top: 0;
	color: var(--text-color);
	font-variation-settings: 'wght' 300;
}

header{
	margin: 1em 0 4em;
}

header h1{
	font-size: 1em;
	font-weight: 800;
	font-variation-settings: 'wght' 800;
	line-height: 0.85;
	margin-bottom: 0;
	color: var(--text-color);
}
header h1 a, header h1 a:hover, header h1 a:visited{
	color: var(--text-color);
}
main h2{
	font-weight: 400;
	font-variation-settings: 'wght' 400;
	margin: 1em 0 0.3em 0;
	font-size: 2em;
	line-height: 1.1;
	color: var(--text-color);
}

.hero-header{
	margin: 0 0 2em 0;
	line-height: 0.9;
	color: var(--text-color);
}
.hero-header h2,
h2.hero-header{
	font-size: 3em;
	margin-bottom: 0.3em;
}

article{
	margin-bottom: 5em;
}

code{
	font-family: "Recursive", monospace;
	font-variation-settings: 'MONO' 1, 'CASL' 0.4;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: var(--text-color);
}

p code, li code{
	font-size: 0.9em;
}

pre{
	font-family: "Recursive", monospace;
	font-variation-settings: 'MONO' 1, 'CASL' 0.4;
	color: var(--text-color);
}

.blog-post .post-date{
	opacity: 0.7;
	font-variation-settings: 'wght' 200;
}

.blog-post img{
    max-width: 100%;
    height: auto;
    border: 1px solid color-mix(in srgb, var(--text-color) 30%, transparent);
	border-radius: 0.125em;
}

.body-text, .item li, .blog-preview li{
	max-width: 50ch;
}

.portrait{
	border-radius: 50%;
	width: 120px;
	margin-bottom: 1em;
}

.item{
	margin: 1em 0 3em;
}
.item h3{
	color: var(--text-color);
	margin: 0 0 0.3em 0;
	font-size: 1.5em;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
}

.item aside{
	margin: 0;
	color: var(--text-color);
	font-variation-settings: 'wght' 200;
	opacity: 0.7;
}
.item li{
	margin-bottom: 0.5em;
}

.blog-preview{
	margin: 1em 0 3em;
}
.blog-preview h3{
	color: var(--text-color);
	margin: 0 0 0.3em 0;
	font-size: 1.5em;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
}
.blog-preview p{
	margin: 0;
}	
.blog-preview aside{
	margin: 0;
	color: var(--text-color);
	font-variation-settings: 'wght' 200;
	opacity: 0.7;
}
.blog-preview li{
	margin-bottom: 0.5em;
}

.skills .item{
	margin: 1em 0 0 ;
}
.skills .skill-list{
	margin: 0;
}

.skill-list{
	padding: 0;
}
.skill-list li{
	display: inline;
}

.skill-list li::after{
	content: " ⌇";
	color: var(--accent-color);
	opacity: 0.5;
}
.skill-list li:last-of-type::after{
	content: none;
}



@media screen and (min-width: 600px) {
	.wrapper{
		padding: 0 2em;
	}
	.skills{
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
	}
	.skills .item{
		max-width: 45%;
	}
	.skills .skill-list{
		margin: 0;
	}
}

@media screen and (min-width: 800px) {
	.wrapper{
		padding: 0 4em;
	}
	.hero-header h2,
	h2.hero-header{
		font-size: 3.5em;
	}
	.portrait{
		position: relative;
		left: -60px;
	}
}

@media screen and (min-width: 1300px) {
	.hero-header h2,
	h2.hero-header{
		font-size: 5em;
	}
}

/*@media screen and (min-width: 1400px) {
	.wrapper{
		max-width: 50em;
	}
	main{
		display: grid;
		grid-template-columns: 70% 30%;
		grid-column-gap: 2em;
	}
	.contact{
		opacity: 0.7;
	}
	.contact h2{
		font-size: 1.5em;
	}
	.contact p{

		margin: 0 0 0.25em 0;
	}
} 