:root {
	--accent-color: #ff4115;
    --accent-hc-color: #e02a00;
    --text-color: #323232;
    --background-color: #;
}
html{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color: #fcfcfc;
	background-image: url('img/contours.svg');
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	font-size: min(max(1.1rem, 4vw), 24px);
	line-height: 1.45;
	text-size-adjust: none;
}
.wrapper{
	margin: 1em auto;
	padding: 0 1em;
	max-width: 1140px;
}

main{
	padding-bottom: 10em;
}
a{
	color: var(--accent-color);
	text-decoration: none;
}
a:hover{
	color: var(--accent-hc-color);
}
p{
	margin-top: 0;
	color: var(--text-color);
	font-variation-settings: 'wght' 350;
}

p a{
	color: var(--accent-hc-color);
}

header{
	margin: 1em 0 4em;
}

header h1{
	font-size: 1em;
	font-variation-settings: 'wght' 350;
	line-height: 0.85;
	margin-bottom: 0;
	color: var(--accent-color);
}

main h2{
	font-weight: 400;
	font-family: 'Playfair Display', serif;
	font-variation-settings: 'wght' 900;
	font-size: 3em;
	margin: 1em 0 0 0;
	line-height: 1.1;
	color: var(--accent-color);
}

.hero-header{
	margin: 0 0 2em 0;
}

article{
	margin-bottom: 5em;
}

.body-text{
	max-width: 50ch;
}

.portrait{
	border-radius: 50%;
	width: 120px;
	margin-bottom: 1em;
}

.item{
	margin: 2em 0;
}
.item h3{
	color: #e02a00;
	margin: 0;
	font-weight: 400;
	font-variation-settings: 'wght' 600;
	color: #e02a00;
}

.item aside{
	margin: 0;
	color: var(--text-color);
	font-variation-settings: 'wght' 250;
	font-style: italic;
}
.contact button{
	padding: 0.5em 1em;
	border: 0;
	border-radius: 0.5em;
	background-color: var(--heading-color);
	font: inherit;
}
.contact p{
	margin: 0.5em 0;
}
.contact button a{
	color: white;
	text-decoration: none;
}

@media screen and (min-width: 600px) {
	.wrapper{
		padding: 0 2em;
	}
}

@media screen and (min-width: 800px) {
	.wrapper{
		padding: 0 4em;
	}
	main h2{
		font-size: 3.5em;
	}
	.portrait{
		position: relative;
		left: -60px;
	}
}

@media screen and (min-width: 1300px) {
	main h2{
		font-size: 5em;
	}
}

/*@media screen and (min-width: 1400px) {
	.wrapper{
		max-width: 50em;
	}
	main{
		display: grid;
		grid-template-columns: 70% 30%;
		grid-column-gap: 2em;
	}
	.contact{
		opacity: 0.7;
	}
	.contact h2{
		font-size: 1.5em;
	}
	.contact p{

		margin: 0 0 0.25em 0;
	}
} 